/* Base styles for desktop */
@media (min-width: 768px) {
.about {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Adjust if you want a different ratio between image and text */
  grid-gap: 2rem; /* Spacing between image and text */
  align-items: center;
  background-color: #f1f1f1; /* Apple-like light grey background */
  color: #333; /* Text color similar to Apple's grey text */
  padding: 2rem; /* More padding for a spacious layout */
  box-sizing: border-box;
  height: auto;
  text-align: left; /* Align text to the left for a magazine-like layout */
}

.quoteSection {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  max-width: 800px; 
  text-align: right;
  background-color: #fff; /* White background for the quote section */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0; /* Adjust margin as needed */
  border-left: 5px solid #4a90e2;
  padding: 2rem;
}

.profileImageWrapper {
  grid-row: 1 / -1; /* Makes the image stretch the full height of the quote section */
  width: 100%; /* Full width of the grid column */
  height: auto; /* Height is set automatically */
  max-width: 400px; /* Max width of the image */
  max-height: 600px; /* Max height to maintain aspect ratio */
  margin: 0 auto; /* Center the image in its grid column */
  overflow: hidden;
  margin-left: -120px;
}

.profileImage {
  width: 60%;
  height: auto;
  object-fit: cover;
  object-position: top; /* Adjust this to focus on the face */
}

.certificates {
  grid-column: 1 / -1; /* Stretch across all columns */
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end; /* Center the certificates */
  gap: 2rem; /* Space between certificates */
  margin-top: 1rem; /* Space between quote section and certificates */
}

.certificatesLinks a {
  background-color: #fff; /* White background for links */
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #333; /* Text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin: 1rem; /* Space around each link */
}

.certificatesLinks a:hover {
  background-color: #eaeaea; /* Light grey on hover, Apple-like */
}

/* You might want to adjust the h1 size, font-weight, and letter-spacing for desktop as well */
.about h1 {
  font-size: 3.5rem; /* Larger size for desktop */
  font-weight: 300; /* Slightly bolder than the mobile version */
  letter-spacing: normal; /* Default letter spacing */
  margin-left: 40px;
  
}

.certificationIcon {
  font-size: 6rem; /* Size of the icon */
  color: #4a90e2; /* Color of the icon */
  margin-bottom: 1rem;
  position: relative; /* Relative positioning to move icon */
  left: -25px; /* Move to the left by 20px */
  top: -75px; /* Move up by 20px */
  /* Add a transition if you want changes to be animated */
  transition: left 0.3s, top 0.3s;
}
.quote {
  font-style: italic;
  margin: 0;
  line-height: 1.5; /* Increase line height for easier reading */
}

.author {
  margin: 0; /* Remove default margin */
  font-weight: bolder;
  margin-top: 10px;
  font-size: 1.5rem;
}
}

@media (max-width: 768px) {
.about {
  padding: 2rem 1rem;
  background-color: #f1f1f1;
  box-sizing: border-box;
  text-align: center;
  height: auto;
}

.about h1 {
  font-size: 1.5rem; /* Tamaño grande pero elegante */
  font-weight: 300; /* Fuente ligera */
  color: #333; /* Color oscuro para contraste */
  text-align: center; /* Alineación centrada */
  margin-top: 0; /* Reducir el margen superior */
  margin-bottom: 1rem; /* Espaciado debajo del título */
  letter-spacing: 1px; /* Espaciado entre letras para una apariencia más refinada */
}

.certificates {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

  .certificatesLinks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: center;
    gap: 0; /* Espacio entre filas */
    width: 100%; /* Ancho completo */
    padding: 10px 0; /* Espaciado lateral */
  }

.certificationIcon {
  font-size: 3rem; /* Tamaño del icono */
  color: #4a90e2; /* Color del icono */
  margin-bottom: 1rem;
}

.certificatesLinks a {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin: 10px 0; /* Espaciado entre enlaces */
}

.certificatesLinks a:hover {
  background-color: #eaeaea;
}

.quoteSection {
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  border-radius: 10px;
}

.profileImageWrapper {
  width: 100px; /* Size of the circular container */
  height: 100px; /* Size of the circular container */
  border-radius: 50%;
  overflow: hidden;
  float: right; /* Or left, depending on where you want the image */
  margin-right: 15px; /* Adjust the margin as needed */
}

.profileImage {
  width: auto;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  object-position: 50%;
}

.quote {
  font-style: italic;
  margin: 0;
}

.author {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}
}
